<div class="row">
  <div class="cari-ekstre">
    <div class="wrapper">
      <div class="container cari-container">
        <button (click)="goToMenu()" type="button" class="btn btn-light btn-sm"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
        <div class="container title-container">
          <div class="title">
            <h2 class="cari-text">CARİ EKSTRE</h2>
            <div class="btn-container">
              <button class="btn btn-sm" (click)="refreshPage()">
                <i class="fa fa-refresh font-16"
                  ><span style="font-weight: bold"> YENİLE</span></i
                >
              </button>
              <button class="btn btn-sm">
                <i class="fa fa-plus font-16"
                  ><span style="font-weight: bold"> YENİ EKLE</span></i
                >
              </button>
            </div>
          </div>
        </div>
        <div class="recent-payments">
          <table class="table table-bordered table-stripped">
            <tr>
              <th class="ng-binding">id</th>
              <th class="ng-binding">Tarih</th>
              <th class="ng-binding">Hareket Tarihi</th>
              <th class="ng-binding">Açıklama</th>
              <th class="ng-binding">Borç</th>
              <th class="ng-binding">Alacak</th>
            </tr>
            <tr>
              <td>1</td>
              <td>07.06.2023</td>
              <td>07.06.2023</td>
              <td>cart curt</td>
              <td>5000 TL</td>
              <td>6000 TL</td>
            </tr>
            <tr>
              <td>2</td>
              <td>29.04.2022</td>
              <td>07.06.2023</td>
              <td>yok</td>
              <td>13500 TL</td>
              <td>4000 TL</td>
            </tr>
            <tr>
              <td>3</td>
              <td>09.07.2011</td>
              <td>03.06.2014</td>
              <td>açıklama</td>
              <td>9071 TL</td>
              <td>3908 TL</td>
            </tr>
            <tr>
              <td>1</td>
              <td>07.06.2023</td>
              <td>07.06.2023</td>
              <td>cart curt</td>
              <td>5000 TL</td>
              <td>6000 TL</td>
            </tr>
            <tr>
              <td>2</td>
              <td>29.04.2022</td>
              <td>07.06.2023</td>
              <td>yok</td>
              <td>13500 TL</td>
              <td>4000 TL</td>
            </tr>
            <tr>
              <td>3</td>
              <td>09.07.2011</td>
              <td>03.06.2014</td>
              <td>açıklama</td>
              <td>9071 TL</td>
              <td>3908 TL</td>
            </tr>
            <tr>
              <td>1</td>
              <td>07.06.2023</td>
              <td>07.06.2023</td>
              <td>cart curt</td>
              <td>5000 TL</td>
              <td>6000 TL</td>
            </tr>
            <tr>
              <td>2</td>
              <td>29.04.2022</td>
              <td>07.06.2023</td>
              <td>yok</td>
              <td>13500 TL</td>
              <td>4000 TL</td>
            </tr>
            <tr>
              <td>3</td>
              <td>09.07.2011</td>
              <td>03.06.2014</td>
              <td>açıklama</td>
              <td>9071 TL</td>
              <td>3908 TL</td>
            </tr>
            <tr>
              <td>3</td>
              <td>09.07.2011</td>
              <td>03.06.2014</td>
              <td>açıklama</td>
              <td>9071 TL</td>
              <td>3908 TL</td>
            </tr>
            <tr>
              <td>3</td>
              <td>09.07.2011</td>
              <td>03.06.2014</td>
              <td>açıklama</td>
              <td>9071 TL</td>
              <td>3908 TL</td>
            </tr>
            <tr>
              <td>3</td>
              <td>09.07.2011</td>
              <td>03.06.2014</td>
              <td>açıklama</td>
              <td>9071 TL</td>
              <td>3908 TL</td>
            </tr>
            <tr>
              <td>3</td>
              <td>09.07.2011</td>
              <td>03.06.2014</td>
              <td>açıklama</td>
              <td>9071 TL</td>
              <td>3908 TL</td>
            </tr>
            <tr>
              <td>3</td>
              <td>09.07.2011</td>
              <td>03.06.2014</td>
              <td>açıklama</td>
              <td>9071 TL</td>
              <td>3908 TL</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
