
.col-md-12 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f242d;
  width: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #0ef;
}
.login {
  color: white;
  margin-top: 10px;
  text-align: center;
}
.btn{
    background-color: #0ef;
    color: #1f242d;
}
.btn:hover{
    background-color: #1f242d;
    color: #0ef;
    border: 1px solid #0ef;
}
.form-control{
    border-radius: 0;
}
.form-select.form-select-sm{
    border-radius: 0;
}
