<div class="row">
  <div class="santiyeler">
    <div class="wrapper">
      <div class="container santiye-container">
        <button (click)="goToMenu()" type="button" class="btn btn-light btn-sm"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
        <div class="container title-container">
          <div class="title">
            <h2 class="santiye-text">ŞANTİYELER</h2>
            <div class="btn-container">
              <button class="btn btn-sm" (click)="refreshPage()">
                <i class="fa fa-refresh font-16"
                  ><span style="font-weight: bold"> YENİLE</span></i
                >
              </button>
              <button class="btn btn-sm">
                <i class="fa fa-plus font-16"
                  ><span style="font-weight: bold"> YENİ EKLE</span></i
                >
              </button>
            </div>
          </div>
        </div>
        <div class="recent-payments">
          <table class="table table-bordered table-stripped">
            <tr>
              <th class="ng-binding">id</th>
              <th class="ng-binding">Şantiye Kodu</th>
              <th class="ng-binding">Şantiye Adı</th>
              <th class="ng-binding">Şantiye ....</th>
              <th class="ng-binding">Şantiye ....</th>
              <th class="ng-binding">Şantiye ....</th>
            </tr>
            <tr>
              <td>1</td>
              <td>12020202</td>
              <td>Ferah Evler</td>
              <td>asjahsjajskaj</td>
              <td>hfjdjdhjdss</td>
              <td>hfjwekjjkfefo</td>
            </tr>
            <tr>
              <td>1</td>
              <td>12020202</td>
              <td>Ferah Evler</td>
              <td>asjahsjajskaj</td>
              <td>hfjdjdhjdss</td>
              <td>hfjwekjjkfefo</td>
            </tr>
            <tr>
              <td>1</td>
              <td>12020202</td>
              <td>Ferah Evler</td>
              <td>asjahsjajskaj</td>
              <td>hfjdjdhjdss</td>
              <td>hfjwekjjkfefo</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</div>
